*/* 
Color Pallet
#DBCBD8 Lanquid Lavender
#564787 Cyber Grape
#F2FDFF Azure x 
#9AD4D6 Powder Blue
#101935 Oxford Blue

*/

* {
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    margin: 0;
}
