/*color pallet
#191A19 - black
#1E5128 - dark green
#4E9F3D - light green
#D8E9A8 - whitish green gray
#f5f5f5 - white smoke
*/



* {
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    margin: 0;
}

body {
    background-color: #D8E9A8;
    color: #191A19;
    max-width: 550px;
    min-height: 100vh;
    margin: auto;
    box-shadow: 0 1px 10px 0px rgba(176, 173, 173, 0.467);
    position: relative;
}


section {
    padding: 3rem;
}

.heading {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
    border: none;
    color: #191A19;
    background-color: #f5f5f5;
    border-radius: 25px;
}

.user-date {
    margin-top: 10px;
}

li {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
}

li {
    display: flex;
    height: 70px;
    width: auto;
    background-color: #4E9F3D ;
    border-radius: 25px;
    align-items: center;
}

.edit-item {
    background-color: transparent;
    border: none;
    color: #D8E9A8;
    font-weight: 600;
    cursor: pointer;
}

.delete-item {
    background-color: transparent ;
    border: none;
    color: #9a1616;
    font-weight: 600;
    cursor: pointer;
}


.user-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: absolute;
    bottom: 5%;
    right: 0%;
}

.user-button {
    display: flex;
    height: 50px;
    width: 50px;
    gap: 10px;
    border: solid 2px #1E5128;
    border-radius: 35%;
    cursor: pointer;

}

.add-new-task { 
    height: 50px;
    width: 50px;
    margin-top: 5px;
    position: absolute;
    bottom: 57%;
    right: 10%;
    background-color: none;
    border: solid 2px #1E5128;
    border-radius: 35%;
    cursor: pointer;

}

.completed-task {
    text-decoration: line-through;
    background-color: #D8E9A8;
  }

.completed {
    filter: opacity(50%);
  }
